@use "../abstract/" as *;
@use "../base/" as *;
@use "../components/" as *;
@use "../layout/" as *;


.banner{
    img{
        @include imgCover(300px, 100%);
    }
p{
    display: none;
}
@include mediaQuery{
    .banner__wrapper{
        @include unevenGrid(2fr 1fr,2rem);
        
       
    }
    &__main{
        padding-right: 1rem;
        padding-right:2rem;
        border-right: 1px solid $clr-dark;
        img{
            margin-top: 3rem;
            height: 50rem;
        }
    }&__side{
        margin-top:3rem;
       
        img{
            height:20rem;
           
        }
        p{
            display:none !important;
        }
    }
}
    p{
        display:block;
    }

}
.trending{
    &__slider{
        img{
            width: 45rem;
        }
    }
}
.articles{
    @include mediaQuery{
        &__card{
            @include d-flex;
            gap:5rem
        }
    }
}
.cta{
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-top: 1px solid $clr-dark;
    border-bottom: 1px solid $clr-dark;
    padding: 5rem 0;
    &__wrapper{
        p{
            margin-bottom: 2rem;
        }
    }
    ul{
        @include d-flex(center, center);
        flex-direction: column;
        @include mediaQuery{
            flex-direction: row;
            gap:3rem;
        }
    }
    li{
        width: 100%;
        @include mediaQuery{
            width:unset;
        }
    }
    a{
        height: auto;
        font-size: 1.2rem;
        min-width: 120px;
        padding: 1.5rem;
        background-color: $clr-dark;
        color: $clr-light;
        font-size: 1.5rem;
        display: block;
        margin-bottom: 1rem;
        @include mediaQuery{
            display: inline-block;
        }
        
    }
  
}