//base for typographical sizes of the divs, sections, body. i.e. line-height, liding.
@use '../abstract/' as *;
@font-face{
    font-family: "Speedee-Regular";
    src: url('../../fonts/Speedee-Regular.woff');
}
@font-face{
    font-family: "Speedee-Bold";
    src: url('../../fonts/Speedee-Bold.woff');
}

body{
    font-family: "Speedee-regular", arial, sans-serif;
    background-color:$clr-primary;
    color:$clr-white;
    line-height: 1.6;
    font-size: 1.6rem;
}
body.open{
 overflow: hidden;

}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: $clr-white;
}
p{
    margin-bottom: 1.3rem;
}
h1{
    margin-bottom: 2.5rem;
    font-size: clamp(1.4rem, 6vw, 1.6rem);
}
.container{
    max-width: 98rem;
    padding: 0 1.6rem;
    margin:0 auto;
}
ul{
    list-style: none;
}

    
